<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMailService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://it7.fsp.com/WorkflowMailService/MailService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMailService"
                contract="NewMailService.IMailService" name="BasicHttpBinding_IMailService" />
        </client>
    </system.serviceModel>
</configuration>